body {
    margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-image: url('rl.jpg'); /* Path to your background image */
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
.payment-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.payment-form label {
    display: block;
    margin-bottom: 10px;
}
.payment-form input[type="radio"] {
    margin-right: 5px;
}
.shipping-address label {
    display: block;
    margin-bottom: 5px;
}
.shipping-address input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.submit-button {
    margin-top: 20px;
    width: 100%;
    background-color: #222f3d;
    color: white;
    padding: 8px;
    border-radius: 20px;
}